.embeddedMessagingIconContainer > img.embeddedMessagingIconChat {
    border-radius: 0 !important;
}

.embeddedMessagingConversationButtonWrapper .embeddedMessagingConversationButton{
   Background: transparent !important; 
   border-radius: 0 !important
}

.embeddedMessagingConversationButton:focus {
    outline: transparent !important;
    outline-offset: 0px;
}

.minimizedButton{
    border-radius: 0 !important;
    background: transparent !important;
    background-color: transparent !important;
}

.minimizedButtonIconContainer img {
    border-radius: 0 !important;
}

.minimizedButton:focus {
    outline: transparent !important;
    outline-offset: 0px;
}
    
